.applicationSend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  padding: 1.3rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
  cursor: pointer;
}

.applicationSend:hover h3 {
  text-decoration: underline;
  color: var(--clr-purple-primary-400);
}

.applicationSend .btnContainer {
  display: flex;
  gap: 1rem;
}

.applicationSend .accept {
  background-color: var(--clr-purple-primary-400);
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  color: #fff;
  transition: var(--transition--200);
}

.applicationSend .accept:hover {
  background-color: var(--clr-purple-hover-400);
  cursor: pointer;
}

.applicationSend .reject {
  background-color: #fff;
  border: 2px solid rgba(242, 7, 106, 1);
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  color: rgba(242, 7, 106, 1);
  transition: var(--transition--200);
}

.applicationSend .reject:hover {
  background-color: var(--clr-purple-hover-400);
  cursor: pointer;
  background-color: rgba(242, 7, 106, 1);
  color: #fff;
}

.applicationSend button,
.applicationSend svg {
  opacity: 0;
  transition: var(--transition--200);
  transform: translateY(20px);
}

.show button,
.show svg {
  opacity: 1;
  transition: var(--transition--200);
  transform: translateY(0px);
}

.applicationSend:nth-child(1) {
  transition: opacity 0.5s 200ms ease;
}
.applicationSend:nth-child(2) {
  transition: opacity 0.5s 250ms ease;
}
.applicationSend:nth-child(3) {
  transition: opacity 0.5s 300ms ease;
}
.applicationSend:nth-child(4) {
  transition: opacity 0.5s 350ms ease;
}
.applicationSend:nth-child(5) {
  transition: opacity 0.5s 400ms ease;
}
.applicationSend:nth-child(6) {
  transition: opacity 0.5s 450ms ease;
}
.applicationSend:nth-child(7) {
  transition: opacity 0.5s 500ms ease;
}
