.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
}

.team img {
  border-radius: 100%;
  width: 6.5rem;
  transition: var(--transition--200);
}
.team img:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition: var(--transition--200);
}

.container h1 {
  padding-bottom: 1rem;
}

.container span {
  color: var(--clr-purple-primary-400);
  font-weight: bold;
}

.team p {
  color: var(--clr-purple-secondary-400);
  text-align: center;
  font-size: 15px;
}

.icon_container {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.icon {
  font-size: 1.3512rem;
  transition: var(--transition--200);
}

.icon:hover {
  transform: scale(1.3);
  transition: var(--transition--200);
}

.team .show {
  opacity: 1;
}

.team:nth-child(1) {
  transition: opacity 0.5s 200ms ease;
}
.team:nth-child(2) {
  transition: opacity 0.5s 400ms ease;
}
.team:nth-child(3) {
  transition: opacity 0.5s 600ms ease;
}
.team:nth-child(4) {
  transition: opacity 0.5s 800ms ease;
}
.team:nth-child(5) {
  transition: opacity 0.5s 1000ms ease;
}
.team:nth-child(6) {
  transition: opacity 0.5s 1200ms ease;
}
