.navbar {
  padding-block: var(--p-50);
  width: var(--width-900);
  max-width: var(--m-xl-width);
  margin-inline: auto;
}

.navbar_brand,
.navbar_img,
.btn,
.btn a,
.navbar_nav li {
  display: flex;
  align-items: center;
}

/* NAVBAR-BRAND | NAVBAR-IMG */
.navbar_brand {
  color: var(--clr-purple-primary-400);
  justify-content: space-between;
  font-size: var(--fs-280);
}

.navbar_img {
  column-gap: 0.2rem;
}

.navbar_img img {
  width: 25px;
  height: 25px;
}

.navbar_nav {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: var(--transition--200);
}

.navbar_nav li,
.navbar_brand {
  padding: var(--p-50);
}

/* BTN */
.btn {
  justify-content: center;
  background-color: var(--clr-purple-primary-400);
  border-radius: var(--b-radius-btn);
}

.btn a {
  justify-content: center;
  color: var(--clr-light);
}

/* NAVBAR-NAV */
.navbar_nav li {
  justify-content: center;
  border-radius: var(--b-radius-btn);
}

/* UTILITY */
.menu_open {
  height: 23vh;
  transition: var(--transition--200);
}

.btn svg {
  display: none;
}

.active {
  color: var(--clr-purple-primary-400);
  transition: var(--transition--200);
}
li {
  text-align: center;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s;
  margin: 0.8em;
}

li::before,
li::after {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
  top: calc(50% - 0.6em / 2);
}

li::before {
  left: 0;
  z-index: -1;
}
li::after {
  right: 0;
  z-index: -2;
}

li :hover {
  color: var(--clr-light);
  transition: var(--transition--200);
}

li:hover::before,
li:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: var(--clr-purple-primary-400);
  color: var(--clr-light);
}

li:hover::before {
  top: 0;
}

li:hover::after {
  right: -0.4em;
  filter: brightness(0.8);
}

/* MEDIA */
@media (width > 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-block: var(--p-100);
  }

  .navbar_nav {
    display: flex;
    height: unset;
  }

  .hamburger_menu {
    display: none;
  }

  .btn a {
    column-gap: var(--gap-50);
    padding-inline: var(--p-50);
  }

  .btn svg {
    display: block;
  }
}
