.navbar {
  padding-block: var(--p-50);
  width: var(--width-900);
  max-width: var(--m-xl-width);
  margin-inline: auto;
}

.navbar_brand,
.navbar_img,
.btn,
.btn a,
.navbar_nav li {
  display: flex;
  align-items: center;
}

/* NAVBAR-BRAND | NAVBAR-IMG */
.navbar_brand {
  color: var(--clr-purple-primary-400);
  justify-content: space-between;
  font-size: var(--fs-280);
}

.navbar_img {
  column-gap: 0.2rem;
}

.navbar_img img {
  width: 25px;
  height: 25px;
}

.navbar_nav {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: var(--transition--200);
}

.navbar_nav li,
.navbar_brand {
  padding: var(--p-50);
}

/* BTN */
.btn {
  justify-content: center;
  background-color: var(--clr-purple-primary-400);
  border-radius: var(--b-radius-btn);
}

.btn a {
  justify-content: center;
  color: var(--clr-light);
}

/* NAVBAR-NAV */
.navbar_nav li {
  justify-content: center;
  border-radius: var(--b-radius-btn);
}

/* UTILITY */
.menu_open {
  height: 18.2vh;
  transition: var(--transition--200);
}

.btn svg {
  display: none;
}

.active {
  color: var(--clr-purple-primary-400);
  transition: var(--transition--200);
}
.red {
  background-color: red;
}

/* MEDIA */
@media (width > 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-block: var(--p-100);
  }

  .navbar_nav {
    display: flex;
    height: unset;
  }

  .hamburger_menu {
    display: none;
  }

  .btn a {
    column-gap: var(--gap-50);
    padding-inline: var(--p-50);
  }

  .btn svg {
    display: block;
  }
}
