.login {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.login img {
  max-width: 1.3rem;
}

.login input {
  display: inline-block;
  /* width: 50%; */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 32rem;
}
