.lineChart h1,
.mentor h1 {
  padding-block: 1rem;
}

.startUpDashboard h2 {
  padding-block: 1rem;
  color: var(--clr-purple-primary-400);
}

.pagination button {
  background-color: var(--clr-purple-primary-400);
  color: #fff;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  transition: var(--transition--200);
  cursor: pointer;
  gap: 0.1rem;
}

.pagination button:hover {
  background-color: var(--clr-purple-hover-400);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination .red {
  background-color: var(--clr-purple-secondary-400);
}

.startUpDashboard .jobsList {
  display: flex;
  margin-block: 1rem;
  font-size: 22px;
  font-weight: 500;
}

.jobsList li {
  color: #566a7f;
  outline: none;
  border: none;
  border-bottom: 2px solid #566a7f;
  padding-inline: 0.7rem;
  padding-bottom: 2px;
}

.jobsList li:hover,
.jobsList .active {
  cursor: pointer;
  color: rgba(105, 108, 255, 1);
  padding-bottom: 0;
  border-bottom: 3px solid rgba(105, 108, 255, 1);
}

@media (width > 992px) {
  .startUpDashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .mentor,
  .lineChart {
    width: var(--width-950);
    margin-inline: auto;
  }
}
