.section4 {
  --pad: 0.3rem;

  max-width: var(--m-xl-width);
  position: relative;
  margin-inline: auto;
  border: 3px solid var(--clr-purple-primary-400);
  border-radius: var(--b-radius-btn-100);
  width: var(--width-950);
  padding: var(--pad);
}

.group {
  position: absolute;
  width: 170px;
  top: -83px;
  right: -10px;
}

@media (width > 550px) {
  .section4 {
    --pad: 1rem;
  }
  .group {
    width: 260px;
    top: -110px;
    right: 5px;
  }
}

@media (min-width: 992px) {
  .section4 {
    --pad: 1.1rem;
  }

  .group {
    width: 420px;
    top: -150px;
    right: 5px;
  }
}
